body {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    user-select: none;
    font-family: Bahnschrift, serif;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    color: #000;
    font-size: 36px;
}

header .col-12 {
    background: none;
}

.nav-link {
    color: #000;
    text-decoration: none;
    font-size: 24px;
    margin: 20px;
}

.nav-link:hover {
    color: #000;
}

.logo-icon {
    width: 100px;
}

.user-initial {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #FFF;
    cursor: pointer;
}

#charCount {
    color: #62FF62;
}

.log {
    color: #62FF62;
    text-decoration: none;
    font-size: 24px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input[type="text"], input[type="email"], input[type="num"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #CCC;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    font-size: 18px;
    color: #000;
}

.btn {
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
}

footer {
    background-color: #E8E8E8;
    height: 300px;
    font-size: 18px;
}

.d-flex .col-md-4 a {
    text-decoration: none;
    color: #000;
}

.d-flex .col-md-4 span {
    color: #636363;
}

.col-12 span {
    color: #636363;
    font-weight: bold;
    font-size: 18px;
}

.col-12 {
    background-color: #E8E8E8;
    padding: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}