body {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    user-select: none;
    font-family: Bahnschrift, serif;
}

header .col-12 {
    background: none;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    color: #62FF62;
    font-size: 72px;
}

.nav-link {
    color: #000;
    text-decoration: none;
    margin: 20px;
    font-size: 24px;
}

.nav-link:hover {
    color: #000;
}

.logo-icon {
    width: 100px;
}

table th, td {
    font-size: 18px;
    color: #000;
}

.card {
    margin: 50px auto;
    width: 70%;
    padding: 20px;
    border-radius: 0;
    border: 2px solid #CCC;
}

.card-body p {
    text-align: left;
    font-size: 18px;
    color: #636363;
}

h3 {
    font-size: 36px;
    text-align: left;
    color: #000;
}

.user-initial {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #FFF;
    cursor: pointer;
}

.photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.photo-container img {
    width: 70%;
    height: auto;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 1);
    transition: transform 0.5s ease;
}

.photo-container img:hover {
    transform: translateY(-10px);
}

.log {
    color: #62FF62;
    text-decoration: none;
    font-size: 24px;
}

footer {
    background-color: #E8E8E8;
    height: 300px;
    font-size: 18px;
}

.d-flex .col-md-4 a {
    text-decoration: none;
    color: #000;
}

.d-flex .col-md-4 span {
    color: #636363;
}

.col-12 span {
    color: #636363;
    font-weight: bold;
    font-size: 18px;
}

.col-12 {
    background-color: #E8E8E8;
    padding: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}