body {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    user-select: none;
    font-family: Bahnschrift, serif;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    color: #62FF62;
    font-size: 72px;
}

header .col-12 {
    background: none;
}

.nav-link {
    color: #000;
    margin: 20px;
    font-size: 24px;
}

.nav-link:hover {
    color: #000;
}

.logo-icon {
    width: 100px;
}

.user-initial {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #FFF;
    cursor: pointer;
}

.mb-3 input {
    border-radius: 0;
    border: 2px solid #CCC;
    color: #000;
    font-size: 18px;
}

.mb-3 label {
    font-family: Bahnschrift, serif;
    font-size: 18px;
    color: #000;
}

.btn-outline-success {
    width: 30%;
}

.but {
    display: flex;
    justify-content: end;
}

.card-product {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    font-size: 24px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.card-title {
    font-size: 36px;
    color: #000;
}

footer {
    background-color: #E8E8E8;
    height: 300px;
    font-size: 18px;
}

.d-flex .col-md-4 a {
    text-decoration: none;
    color: #000;
}

.d-flex .col-md-4 span {
    color: #636363;
}

.col-12 span {
    color: #636363;
    font-weight: bold;
    font-size: 18px;
}

.col-12 {
    background-color: #E8E8E8;
    padding: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}