body {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    user-select: none;
    font-family: Bahnschrift, serif;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    color: #62FF62;
    font-size: 72px;
}

#charCount {
    color: #62FF62;
}

#deleteForm button:hover {

}

.mb-3 textarea {
    border-radius: 0;
    border: 2px solid #CCC;
    color: #000;
    font-size: 18px;
    outline: none;
    width: 100%;
    padding: 5px 10px;
}

header .col-12 {
    background: none;
}

#productsHeading {
    margin-top: 100px;
}

.nav-link {
    color: #000;
    margin: 20px;
    font-size: 24px;
    text-decoration: none;
}

.nav-link:hover {
    color: #000;
}

.logo-icon {
    width: 100px;
}

.log {
    color: #FF2C2C;
    text-decoration: none;
    font-size: 24px;
}

.log:hover {
    color: #FF2C2C;
    text-decoration: none;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}

.card-body input {
    outline: none;
}

.card-text input[type="text"] {
    width: 100%;
    border: 2px solid #CCC;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: #000;
    font-size: 18px;
}

.btn-outline-success, .btn-outline-danger {
    width: 100%;
}

.card {
    border-radius: 0;
    border: 2px solid #CCC;
}

.block-del {
    background-color: #F4F4F4;
    border-radius: 0;
}

.card img {
    border-radius: 0;
}

.mb-3 input {
    border: 2px solid #CCC;
}

.card-body .card-text input {
    border-radius: 0;
}

.form-group input {
    border-radius: 0;
    border: 2px solid #CCC;
    font-size: 18px;
    color: #000;
}

.form-check label {
    color: #000;
    font-size: 18px;
}

.image-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.btn-del {
    background: none;
    border: none;
}

.btn-del img {
    width: 20px;
}

.btn {
    font-size: 18px;
}

.del-sec {
    display: flex;
    justify-content: right;
    padding: 5px;
}

.customer-card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #CCC;
    border-radius: 10px;
}

#showMoreButton {
    display: flex;
    margin: auto auto 20px auto;
    border-radius: 0;
    border: 2px solid #CCC;
}

footer {
    background-color: #E8E8E8;
    height: 300px;
    font-size: 18px;
}

.d-flex .col-md-4 a {
    text-decoration: none;
    color: #000;
}

.d-flex .col-md-4 span {
    color: #636363;
}

.col-12 span {
    color: #636363;
    font-weight: bold;
    font-size: 18px;
}

.col-12 {
    background-color: #E8E8E8;
    padding: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}