<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${product}"></title>
    <link rel="icon" href="/static/images/icon.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/headers/">
    <link rel="stylesheet" href="../static/css/details.css">
    <meta name="username" th:content="${username}"/>
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
        <img class="logo-icon" src="/static/images/logo.gif" alt="">
        <div class="d-flex flex-wrap align-items-center justify-content-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-body-emphasis">Головна</a></li>
            </ul>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="info" class="nav-link px-2 link-body-emphasis">Форум</a></li>
            </ul>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="cooperation" class="nav-link px-2 link-body-emphasis">Співпраця</a></li>
            </ul>
        </div>
        <div>
            <div th:if="${username}">
                <div id="userInitial" class="user-initial">
                    <a th:href="@{/profile}" th:text="${username}">
                    </a>
                </div>
            </div>
            <div th:unless="${username}">
                <a class="log" href="login">Увійти</a>
            </div>
        </div>
    </header>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" th:src="${product.photo}" alt="Product Image">
        </div>
        <div class="col-md-6">
            <h2 th:text="${product.name}"></h2>
            <p th:text="${product.producer}"></p>
            <p th:if="${product.available}" class="text-success">Available</p>
            <p th:unless="${product.available}" class="text-danger">Not Available</p>
            <p th:text="${product.price}"></p>
        </div>
    </div>
</div>
<p th:text="${product.description}"></p>

<div class="footer">
    <footer class="py-3">
        <ul class="nav justify-content-center pb-3 mb-3">
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-body-secondary">
                    <img src="/static/images/instagram.png" alt="Instagram"> Instagram
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-body-secondary">
                    <img src="/static/images/facebook.png" alt="Facebook"> Facebook
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-body-secondary">
                    <img src="/static/images/telegram.png" alt="Telegram"> Telegram
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-body-secondary">
                    <img src="/static/images/youtube.png" alt="YouTube"> YouTube
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-body-secondary">
                    <img src="/static/images/twitter.png" alt="Twitter"> Twitter
                </a>
            </li>
        </ul>
        <p class="text-center">© 2024 DropMarket, Inc.</p>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
<script src="../static/js/details.js"></script>
</body>
</html>
