<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    body {
        opacity: 0; /* Початкове значення прозорості */
        animation: fadeIn 1s ease-in-out forwards; /* Анімація засвітлення */
    }

    @keyframes fadeIn {
        from {
            opacity: 0; /* Початкове значення прозорості */
        }
        to {
            opacity: 1; /* Кінцеве значення прозорості */
        }
    }

</style>
<h1>Info page</h1>

</body>
</html>