<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Головна</title>
    <link rel="icon" href="/static/images/icon.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/headers/">
    <link rel="stylesheet" href="../static/css/main.css">
    <meta name="username" th:content="${username}"/>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
        <img class="logo-icon" src="/static/images/logo.gif" alt="">
        <div class="d-flex flex-wrap align-items-center justify-content-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-body-emphasis">Головна</a></li>
            </ul>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="info" class="nav-link px-2 link-body-emphasis">Форум</a></li>
            </ul>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="cooperation" class="nav-link px-2 link-body-emphasis">Співпраця</a></li>
            </ul>
        </div>
        <div>
            <div th:if="${username}">
                <div id="userInitial" class="user-initial">
                    <a th:href="@{/profile}" th:text="${username}">
                    </a>
                </div>
            </div>
            <div th:unless="${username}">
                <a class="log" href="login">Увійти</a>
            </div>
        </div>
    </header>
</div>
<h1>НАШІ ТОВАРИ</h1>
<div class="product-img">
    <a href="#" id="scrollIcon">
        <img src="/static/images/arrow.png" alt="">
    </a>
</div>
<div class="container marketing">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
                Одяг. <span>Знайдіть свій вигляд.</span>
            </h2>
            <p class="lead">
                Перегляньте наш величезний асортимент модного та комфортного одягу,
                який підійде для будь-якого випадку та настрою. Кожна річ відібрана
                з особливою увагою до деталей, якості та зручності, щоб забезпечити
                неперевершений комфорт і стиль в вашому гардеробі. Почніть побудовувати
                свій ідеальний образ прямо зараз.
            </p>
        </div>
        <div class="col-md-5">
            <div class="featurette-image-container">
                <img src="/static/images/clothes.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="2500" height="2500" alt="">
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">
                Інструменти для будівництва. <span class="text-body-secondary">Just do it.</span>
            </h2>
            <p class="lead">
                Наш асортимент включає в себе найкращі інструменти для будівництва, які допоможуть вам
                здійснити будь-який проєкт легко та ефективно. Пропонуємо широкий вибір професійних інструментів,
                які відповідають найвищим стандартам якості та надійності. В незалежності чи у вас ремонт,
                чи будівництво - ми маємо все необхідне для зручної та ефективної роботи. Не гай часу, почни
                будувати своє майбутнє вже зараз.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <div class="featurette-image-container">
                <img src="/static/images/tools.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="2500" height="2500" alt="">
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
                Колекція авто. <span class="text-body-secondary">Елегантність та стиль.</span>
            </h2>
            <p class="lead">
                У нашому асортименті ви знайдете найрізноманітніші декоративні моделі автомобілів,
                які стануть чудовим доповненням до вашого домашнього інтер'єру. Ці мініатюрні шедеври
                не призначені для гри, але вони вражають своєю деталізацією та якістю виконання, нагадуючи
                справжнє авто. Ви можете вибрати модель своєї улюбленої марки або навіть створити
                власну колекцію, що буде відображати ваші інтереси та стиль.
            </p>
        </div>
        <div class="col-md-5">
            <div class="featurette-image-container">
                <img src="/static/images/toys.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="950" height="950" alt="">
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">
                Гаджети та електроніка. <span class="text-body-secondary">Інновації для сучасного життя.</span>
            </h2>
            <p class="lead">
                Асортимент включає в себе найновітніші гаджети та електроніку, які роблять ваше
                життя простішим та цікавішим. Від смартфонів до ПК - ми маємо все, щоб задовольнити ваші потреби
                у технологіях. Довіртеся нам у своєму пошуку технологічних рішень, і ми зробимо все можливе,
                щоб ваші очікування переросли в реальність. Приєднуйтесь до майбутнього вже сьогодні.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <div class="featurette-image-container">
                <img src="/static/images/devices.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="2500" height="2500" alt="">
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
</div>
<section class="animation-section">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
</section>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <label class="visually-hidden" for="searchInput">Пошук</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="searchInput" placeholder="Пошук..." aria-label="Пошук" aria-describedby="searchButton">
            </div>
        </div>
    </div>
</div>
<div class="cat">
    <div class="row featurette m-1">
        <div th:each="product : ${products}" class="col-md-4">
            <div class="card mb-4 box-shadow">
                <a th:href="@{'/details/' + ${product.id}}">
                    <div class="image-container">
                        <img class="card-img-top" th:src="${product.photo}" alt="">
                    </div>
                </a>
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.name}"></h5>
                    <p th:if="${product.available}" class="text-success">В наявності</p>
                    <p th:unless="${product.available}" class="text-danger">Немає в наявності</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted" th:text="${product.createdBy.username}"></small>
                        <small class="text-muted" th:text="${#temporals.format(product.createdAt, 'dd-MM-yyyy HH:mm:ss')}"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="showMoreButton" class="btn">Показати ще</button>
<div id="notFoundMessage">Товарів не знайдено 😞</div>
<footer class="d-flex flex-wrap justify-content-between align-items-center p-5 border-top">
    <div class="col-md-4 d-flex flex-column align-items-start">
       <span>Номер менеджера</span>
        <a href="tel:+38 (067) 987 56 43" class="mb-2"> +38 (067) 987 56 43</a>
       <span>Гаряча лінія</span>
        <a href="tel:+38 (097) 123 45 67" class="mb-2">+38 (097) 123 45 67</a>
    </div>
    <div class="col-md-4 d-flex flex-column align-items-center">
        <span>Зв'яжіться з нами</span>
        <a href="mailto:example1@example.com" class="mb-2">manager.market@gmail.com</a>
        <a href="mailto:example2@example.com" class="mb-2">ceo.market@gmail.com</a>
    </div>
    <div class="col-md-4 d-flex flex-column align-items-end">
        <span>Адреса</span>
        <a href="https://www.google.com/maps?q=вул. Київська 123, м. Київ" class="mb-2" target="_blank">вул. Київська 123, м. Київ</a>
    </div>
</footer>
<div class="col-12 text-center">
    <span>© 2024 DropMarket, Inc. Усі права захищено.</span>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>