<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
<h1>Add Product</h1>

<form action="/products" method="post" enctype="multipart/form-data">
    <label for="photoUrl">Photo URL:</label><br>
    <input type="text" id="photoUrl" name="photoUrl"><br>
    <label for="producer">Producer:</label><br>
    <input type="text" id="producer" name="producer"><br>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description"><br>
    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price"><br>
    <input type="submit" value="Add">
</form>



</body>
</html>